*{
    margin:0;
    padding:0;
}
a{
    text-decoration:none;
}
li{
    list-style:none;
}
// body{
//     background:#f1f1f1;
// }
/*头部大盒子*/
.header{
    width:1323px;
    height:33px;
    /*margin:0 auto;*/
    background:#f2f2f2;
    border:1px solid #e5e5e5;
}
.login{
    width:203px;
    height:33px;
    margin-left:74px;
    float:left;
}
.login p{
    line-height:33px;
    float:left;
    color:#6c6c6c;
    font-size:12px;
}
.login a{
    line-height:33px;
    float:left;
    color:#ec5a8b;
    display:block;
    font-size:12px;
}
.login1{
    margin-left:22px;
}
.list{
    width:686px;
    height:33px;
    float:right;
    position:relative;
}
.fix{
    position:absolute;
    left:53px;
    top:33px;
    width:70px;
    height:143px;
    display:none;
    ol{
        width:70px;
        height:143px;
        z-index:3;
        background:#fff;
        text-align:center;
       li{
        height:25px;
        width:70px;
        // background:red;
        z-index:3;
        text-align:center;
        a{
            color:#6c6c6c;
            font-size:12px;
        }

    }
    li:hover a{
        color:#ec3e7d;
    }
    }

}
.fix1{
    width:300px;
    height:70px;
    position:absolute;
    left:-78px;
    top:30px;
    // background:red;
    border:1px solid #dddddd;
    display:none;
    background:#fff;
    z-index:3;
    p{
        margin-left:120px;
        color:#6c6c6c;
        font-size:12px;
        line-height:18px;
        margin-top:10px;
    }
}
.list ul{
    float:right;
    margin-right:50px;
}
.list ul li{
    float:left;

    margin-left:20px;
    line-height:33px;
}
.list ul li a{
    color:#6c6c6c;
    font-size:12px;
}
.list ul li:hover{
    background:#fff;
}
.list ul img{
    margin-top:4px;
}
/*logo部分*/
.logo{
    width:1323px;
    height:96px;
    /*margin:0 auto;*/
}
.img{
    margin-left:74px;
    margin-top:24px;
    float:left;
}
.search{
    width:436px;
    height:36px;
    background:#ec3e7d;
    float:left;
    margin-left:213px;
    margin-top:22px;
}
.search input{
    width:341px;
    height:30px;
    margin-top:3px;
    margin-left:2px;
    border:none;
}
.search span{
    margin-left:28px;
    color:#fff;
}
.list1{
    width:436px;
    height:14px;
    margin-left:477px;
}
.list1 li{
    float:left;
    font-size:12px;
    margin-left:10px;
}
.list1 li a{
    color:#999999;
    display:block;
}
.list1 img{
    margin-left:10px;
}
/*导航部分*/
.list2{
    width:1323px;
    height:36px;
    margin:0 auto;
    position:relative;
}
.fix2{
    width:300px;
    height:279px;
    border:1px solid #bababa;
    // background:red;
    position:absolute;
    z-index:888;
    left:995px;
    top:40px;
    background:#fff;
    display:none;
    h4{
        width:300px;
        height:42px;
        background:#eeeeee;
        font-size:12px;
        text-align:center;
        line-height:42px;
        color:#ec3e7d;
        float:left;
    }
    ol{
        width:200px;
        height:203px;
        float:left;
        li{
        // width:136px;
        // height:32px;
        font-size:12px;
        line-height:24px;
        margin-left:25px;
    }
    li:nth-child(1){
        height:26px;
        background:#fff;
    }
    }
    img{
        float:right;
    }

}
.list2 ul{
    width:1026px;
    height:36px;
    float:left;
    margin-left:75px;
}
.list2 li{
    float:left;
    margin-right:40px;
    line-height:36px;
    text-align:center;
}
.list2 li a{
    color:#111111;
}
.list2 li:nth-child(1){
    width:190px;
    height:36px;
    background:#333333;

    text-align:center;
    line-height:36px;
}
.list2 li:nth-child(1) a{
    color:#fff;
}
.list2 li:nth-child(2):hover a{
        color:#ec3e7d;
}
.list2 li:nth-child(3):hover a{
        color:#ec3e7d;
}
.list2 li:nth-child(4):hover a{
        color:#ec3e7d;
}
.list2 li:nth-child(5):hover a{
        color:#ec3e7d;
}
.list2 li:nth-child(6):hover a{
        color:#ec3e7d;
}
.list2 li:nth-child(7):hover a{
        color:#ec3e7d;
}
.list2 li:nth-child(8):hover a{
        color:#ec3e7d;
}
/*轮播图部分*/
.banner{
    width:1323px;
    height:420px;
    /*background:#ffe2e4;*/
    /*margin:0 auto;*/
    position:relative;
}
//<!-- 侧面菜单部分 -->
.list3{
    width:190px;
    height:420px;
    margin-left:66px;
    float:left;
    background:#fa3778;
    position:absolute;
    left:22px;
    top:3px;
    z-index:2;
    // position:relative;
}
//  <!-- 二级菜单 -->
.menu{
    width:340px;
    height:auto;
    position:absolute;
    background:#fff;
    left:278px;
    top:0;
    z-index:4;
    border:1px solid #fa3778;
    border-left:none;
    display:none;
    ul{
        li{
            width:340px;
            height:50px;
            font-size:14px;
            line-height:30px;
            color:#000;
            .erji{
                li{
                    width:49px;
                    height:20px;
                    float:left;
                    font-size:12px;
                    color:#9999a2;
                }
            }
        }
    }
}
// .list3 ul li:nth-child(1):hover{
//     .menu{
//         display:none;
//     }
// }
// .list3 ul li:nth-child(1){
//     .menu{
//            display:block;
//     }
// }

.menu1{
    width:340px;
    height:auto;
    position:absolute;
    background:#fff;
    left:278px;
    top:55px;
    z-index:4;
    border:1px solid #fa3778;
    border-left:none;
    display:none;
    ul{
        li{
            width:340px;
            height:50px;
            font-size:14px;
            line-height:30px;
            color:#000;
            .erji{
                li{
                    width:49px;
                    height:20px;
                    float:left;
                    font-size:12px;
                    color:#9999a2;
                }
            }
        }
    }
}

.menu2{
    width:340px;
    height:auto;
    position:absolute;
    background:#fff;
    left:278px;
    top:110px;
    z-index:4;
    border:1px solid #fa3778;
    border-left:none;
    display:none;
    ul{
        li{
            width:340px;
            height:50px;
            font-size:14px;
            line-height:30px;
            color:#000;
            .erji{
                li{
                    width:49px;
                    height:20px;
                    float:left;
                    font-size:12px;
                    color:#9999a2;
                }
            }
        }
    }
}
.menu3{
    width:340px;
    height:auto;
    position:absolute;
    background:#fff;
    left:278px;
    top:165px;
    z-index:4;
    border:1px solid #fa3778;
    border-left:none;
    display:none;
    ul{
        li{
            width:340px;
            height:50px;
            font-size:14px;
            line-height:30px;
            color:#000;
            .erji{
                li{
                    width:49px;
                    height:20px;
                    float:left;
                    font-size:12px;
                    color:#9999a2;
                }
            }
        }
    }
}
.menu4{
    width:340px;
    height:auto;
    position:absolute;
    background:#fff;
    left:278px;
    top:219px;
    z-index:4;
    border:1px solid #fa3778;
    border-left:none;
    display:none;
    ul{
        li{
            width:340px;
            height:50px;
            font-size:14px;
            line-height:30px;
            color:#000;
            .erji{
                li{
                    width:49px;
                    height:20px;
                    float:left;
                    font-size:12px;
                    color:#9999a2;
                }
            }
        }
    }
}
.menu5{
    width:340px;
    height:auto;
    position:absolute;
    background:#fff;
    left:278px;
    top:454px;
    z-index:4;
    border:1px solid #fa3778;
    border-left:none;
    display:none;
    ul{
        li{
            width:340px;
            height:50px;
            font-size:14px;
            line-height:30px;
            color:#000;
            .erji{
                li{
                    width:49px;
                    height:20px;
                    float:left;
                    font-size:12px;
                    color:#9999a2;
                }
            }
        }
    }
}
.menu6{
    width:340px;
    height:auto;
    position:absolute;
    background:#fff;
    left:278px;
    top:506px;
    z-index:4;
    border:1px solid #fa3778;
    border-left:none;
    display:none;
    ul{
        li{
            width:340px;
            height:50px;
            font-size:14px;
            line-height:30px;
            color:#000;
            .erji{
                li{
                    width:49px;
                    height:20px;
                    float:left;
                    font-size:12px;
                    color:#9999a2;
                }
            }
        }
    }
}
.menu7{
    width:340px;
    height:auto;
    position:absolute;
    background:#fff;
    left:278px;
    top:561px;
    z-index:4;
    border:1px solid #fa3778;
    border-left:none;
    display:none;
    ul{
        li{
            width:340px;
            height:50px;
            font-size:14px;
            line-height:30px;
            color:#000;
            .erji{
                li{
                    width:49px;
                    height:20px;
                    float:left;
                    font-size:12px;
                    color:#9999a2;
                }
            }
        }
    }
}
.list3 li{
    width:175px;
    height:53px;
    line-height:53px;
    padding-left:15px;
    border-bottom:1px dashed #fff;
    // background:url(../../images/11.gif);
}
.list3 li:hover{
background:#fff;

}
// .list3 li:nth-child(2):hover{
//
//     .menu{
//         display:block;
//     }
// }
.list3 li:hover a{
    color:#fa3778;
}
.list3 img{
    margin-right:15px;
}
.list3 a{
    color:#fff;
    font-size:15px;
}
.list3 span{
    float:right;
}
/*轮播图*/
.banner1{
        position: relative;
        width: 1323px;
        height: 415px;
        overflow: hidden;
        /*margin:0 auto;*/
    }
.img-list{
        list-style:none;
        position: absolute;
        left:0; top:0;
        width: 9261px;
        height: 415px;
        float:left;
    }
.img-list li{
        float: left;
        width: 1323px;
        height: 415px;
    }
.img-list li img{
        width:100%;
        height:100%;
        float:left;
    }
.banner-nav-list{
        list-style:none;
        position: absolute;
        right:500px; bottom:50px;

    }
.banner-nav-list li {
        background: red;
        float: left;
        width: 20px; height: 20px;
        border-radius:50%;
        margin-right: 10px;
        cursor: pointer;
        text-align: center;
    }

.banner-nav-list li.active22{
        background: yellow;
    }
    /*侧面购物车*/
.shopping{
    width:40px;
    height:100%;
    position:absolute;
    right:0;
    top:0;
    background:#4c4c4c;
    position: fixed;
}
.shopping li:nth-child(1){
    margin-top:87px;
    padding-left:12px;
    height:41px;
    border-bottom:2px solid #666666;
}
.shopping li:nth-child(2){
    margin-top:15px;
    padding-left:6px;
    font-size:12px;
    height:121px;
    border-bottom:2px solid #666666;
    text-align:center;
}
// .shopping li:hover{
//     border:1px solid #db3f7e;
// }
.shopping li:nth-child(2) a{
    color:#fff;
}
.shopping li:nth-child(3){
    margin-top:21px;
    margin-left:8px;
}
.shopping li:nth-child(4){
    margin-top:140px;
    margin-left:8px;
}
.shopping li:nth-child(5){
    padding-top:40px;
    margin-left:8px;
}
.shopping li:nth-child(5) a{
    color:#fff;
    font-size:12px;
}
/*公告部分*/
.notice{
    width:100%;
    height:27px;
    background:#ececec;
}
.notice1{
    margin-left:98px;
    padding-top:5px;
}
.notice1 span{
    color:#ec3e7d;
    font-size:12px;
}
.notice1 i{
    font-style:normal;
    font-size:12px;
    color:#a4a4b8;
}
/*首页推荐部分*/
.hot{
    width:1201px;
    height:190px;
    margin:0 auto;
    margin-top:20px;
}
.hot li{
    float:left;
    margin-right:15px;
}
.hot li:hover{
    opacity:0.7;
}
.hot li:nth-child(3){
    margin-right:0;
}
/*满168包邮部分*/
.hot1{
    width:1201px;
    height:147px;
    margin:0 auto;
    border-bottom:1px solid #ccc;

}
.hot1 li{
    float:left;
    width:20%;
}
.hot1 img{
    margin-top:44px;
    margin-right:16px;
    float:left;
}
.hot1 li a{
    font-size:12px;
}
.hot1 span{
    margin-top:41px;
    display:block;
    float:left;
    font-size:19px;
    color:#000;
}
.hot1 p{
    color:#999999;
    font-size:13px;
    line-height:22px;
}
/*每日必看部分*/
.date{
    height:64px;
    width:1201px;
    margin:0 auto;

}

.date h3{
    margin-left:465px;
    line-height:52px;
    width:300px;
    text-align:center;
    font-size:26px;
}
.date p{
    border:1px solid #e4e4e4;
    width:450px;
    float:left;
    margin-top:26px;
}
.date .line{
    float:right;
    margin-top:-22px;
}
/*抢购*/
.rush{
    width:1201px;
    height:260px;
    margin:0 auto;
    border-top:1px solid #eeeeee;
    margin-bottom:19px;
    position:relative;
}
// 侧面楼梯效果
.LoutiNav{
    width:55px;
    height:231px;
    position:absolute;
    left:0;
    top:100px;
    display:none;
    position:fixed;
    // background:red;
    z-index:4;
    // background:pink;
    li{
        width:55px;
        height:57px;
        line-height:57px;
        text-align:center;
        position: relative;
        font-size:12px;
        cursor: pointer;
        border-bottom:1px solid #ccc;
    }
}
.rush img{
    float:left;
}
.rush1{
    width:232px;
    height:262px;
    float:left;
    text-align:center;
}
.rush1 h3{
    font-size:20px;
    color:#ee5a78;
    line-height:33px;
    margin-top:56px;
}
.rush1 p{
    font-size:16px;
    color:#5a5a5a;
    line-height:27px;
}
.rush .p{
    font-size:12px;
    line-height:23px;
}
.rush .div{
    width:108px;
    height:32px;
    background:#e93b78;
    text-align:center;
    line-height:32px;
    margin-left:64px;
    margin-top:39px;
}
.rush .div:hover{
    opacity:0.5;
}
/*限时抢购*/
.date i{
    font-style:normal;
    margin-left:530px;
}
.sell{
    width:1201px;
    height:362px;
    margin:25px auto;
}
.seel img{
    float:left;
}
.sell .sell1{
    width:540px;
    height:362px;
    float:right;
}
.sell1 h5{
    width:117px;
    height:25px;
    background:#000;
    color:#fff;
    text-align:center;
    line-height:25px;
    font-size:12px;
}
.sell1 span{
    font-size:13px;
    color:#d9d9d9;
}
.sell1 .p1{
    font-size:16px;
    line-height:32px;
}
.sell1 .p2{
    margin-top:62px;
    font-size:13px;
    color:#666666;
}
.sell1 .p3{
    color:#fc3f83;
    font-size:24px;
    line-height:42px;
}
.seel1 .p3 del{
    color:#999999;
    font-size:12px;

}
.sell1 .p4{
    color:#a29999;
    font-size:12px;
    height:66px;
    line-height:79px;
}
.sell2{
    width:92px;
    height:32px;
    text-align:center;
    line-height:32px;
    float:right;
    background:#e93b78;
    margin-top:-40px;
}
.sell2:hover{
    opacity:0.5;
}
.special{
    width:164px;
    height:36px;
    margin:0 auto;
    line-height:36px;
    text-align:center;
    background:#fc3f83;
    color:#fff;
    font-size:14px;
    border-radius:25px;
}
.special a{
    color:#fff;
}
.first{
    width:1201px;
    height:572px;
    margin:0 auto;
    .skin{
        width:382px;
        height:572px;
        border-top:1px solid #fc3f83;
        float:left;
        margin-right:15px;
        h2{
            width:382px;
            height:64px;
            text-align:center;
            line-height:64px;
            font-size:22px;
            color:#000;
        }
        .skin1{
            width:382px;
            height:100px;
            border-top:1px solid #eeeeee;
            img{
                float:left;
            }
            .skin2{
                float:left;
                width:265px;
                span{
                    font-size:14px;
                    color:#f19c23;
                }
                .send{
                    color:#000;
                }
                p{
                    color:#fc3f83;
                    font-size:14px;
                    // float:left;
                    line-height:26px;
                    del{
                        color:#999999;
                    }
                }
                .send1{
                    color:#999999;
                    display:block;
                    float:right;
                }
            }
        }


    }
}
// 新品上市
.new{
    width:1201px;
    height:395px;
    margin:0 auto;
    .new1{
        width:289px;
        height:381px;
        float:left;
        margin-right:8px;
        border:1px solid #ededed;
        margin-bottom:12px;
        // background:#ff0;
        i{
            font-style:normal;
            background:#80b53f;
            width:40px;
            height:40px;
            float:left;
            color:#fff;
            display:block;
            margin-top:16px;
            margin-left:16px;
            text-align:center;
        }
        .right{
            margin-top:16px;
            float:right;
            font-size:14px;
            color:#999999;
            margin-right:14px;
        }
        .img1{
            // margin-top:69px;
            margin-left:10px;
        }
        span{
        display:block;
        width:229px;
        height:33px;
        margin-left:20px;
        font-size:12px;
        margin-top:32px;
        }
        .new2{
            color:#fc57b5;
            font-size:16px;
            margin-left:20px;
            height:52px;
            line-height:52px;
            del{
                color:#999999;
                font-size:12px;
            }
        }
    }
    .new1:hover{
        border:1px solid #db3f7e;
    }
}
.pay{
    width:1201px;
    height:272px;
    .pay1{
    width:838px;
    height:272px;
    float:left;
    margin-left:74px;
    ul{

        margin-top:12px;
        margin-right:105px;
        float:left;
        li{
           font-size:12px;
           line-height:26px;
           a{
            color:#999999;
           }
        }
        li:nth-child(1){
        font-size:12px;

        line-height:26px;
        a{
          color:#000;
        }
        }

    }
    }
    .pay2{
        width:281px;
        float:left;
    }
}
.footer{
    width:100%;
    background:#000;
    height:100px;
    ul{
        width:810px;
        margin-left:73px;
        li{
        float:left;
        height:12px;
        width:78px;
        border-right:1px solid #fff;
        margin-top:30px;
        text-align:center;
        line-height:12px;
        a{
            color:#fff;
            font-size:12px;
            text-align:center;
        }

    }
    li:nth-child(10){
            border-right:none;
        }
        }
    .footer1{
            width:500px;
            color:#fff;
            font-size:12px;
            margin-left:80px;
            line-height:55px;
        }
}
// .Louli{
//     transform: none;
// }
.hover{
    background:#ec3e7d;
}
.active{
    display:block;
    width:55px;
    height:57px;
    background:blue;
    color:#fff;
}
